<h1>Changepass</h1>
<form method="POST" action="/api/changepass">
    <div>
    <input type="text" name="username" placeholder="Username" required="" />
    </div>
    <div>
    <input type="password" name="password" placeholder="Password" required="" />
    </div>
    <div>
        <input type="password" name="newpassword" placeholder="NewPassword" required="" />
        </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>